/* phpBB Rules MOD

CSS Original Author: t_backoff (Tabitha Backoff)
phpBB.com Profile: http://www.phpbb.com/community/memberlist.php?mode=viewprofile&u=1003885
Original Page: http://www.phpbb.com/kb/article/how-to-create-a-rules-page-similar-to-phpbbcom
-------------------------------------------------*/

.activerule
{
    background-color:#ECD5D8;
    color: #BC2A4D;
    font-weight: bold;
}
