<!-- INCLUDE overall_header.html -->

<h2>{L_RULES}</h2>

<!-- IF not .rules -->
<br />
<p><strong>{L_NO_RULES}</strong></p>
<!-- ENDIF -->

<!-- BEGIN rules -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="content">
			<h2>{rules.TITLE}</h2>
				<dl class="faq">
					<dd id="rule{rules.ID}">{rules.CONTENT} <a href="#rule{rules.ID}" onclick="highlight('rule{rules.ID}');"> <span style="text-decoration: underline;">#</span></a></dd>
				</dl>
				<hr class="dashed" />
		</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<br />
<!-- END rules -->

<!-- INCLUDE overall_footer.html -->